#ia_enhancer {
    display:      table;
    width:        100%;
    font-family:  'Helvetica Neue';
    font-size:    1.1em;
    border:     1px solid black;
}

#ia_nav_div {
    color: #fff;
    background-color: #000;
    padding-bottom: 2px;
}

#ia_nav_div a {
    color: #fff;
    text-decoration: none;
}

#ia_nav_div a:hover {
    text-decoration: underline;
}

.ia_logo {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

#ia_title_div {
    color: #fff;
    background-color: #000;
    font-size: 1.5em;
    padding: 2px;
    margin-bottom: 15px;
}

#ia_title {
    float: left;
    margin-right: 5px;
}

.ia_title_edit_button {
    color: #ccc;
}

.ia_title_edit_button:hover {
    color: #fff;
}

#ia_player_div {
    display: table;
}

.ia_description {
    font-size: 1.2em;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: top;
    padding: 0px 20px 20px 20px;
}


.ia_book_description {
    font-size: 1.2em;
    padding: 20px;
    text-align: left;
}

#avplaycontainer {
    display:    table-cell;
/*
    width:      auto;
    text-align: center;
    float:      left;
    padding:    10px;
    display:    table-cell;
    max-width:  640px;
*/
    /*border:           1px solid green;*/
}

#avplaydiv {
    width: 400px;
}

#avplaydiv.ia_audio {
    width: 350px;
}

#ia_meta_div {
    width:      600px;
    padding:    10px;
    display:    table-cell;
    border-right: 1px solid black;
}


#ia_meta_table {
    display: table;
}

.ia_meta_row {
    padding: 4px;
    font-size: 1.1em;
    display: table-row;
    width: 100%;
}

.ia_meta_row:nth-child(even) {
    background: #EEE;
}

.ia_meta_key {
    width: 100px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: table-cell;
    /*float: left;*/
    color: #999;
    /*overflow: scroll;*/
    /*white-space: nowrap;*/
}

.ia_meta_val {
    display: table-cell;
    width: 100%;
    /*overflow: scroll;*/
}

.ia_edit_button {
    margin-left: 3px;
    color: #999;
}

.ia_edit_button:hover {
    color: #000;
}

.ia_edit_input {
    width: calc(100% - 10px);
}

#ia_files_div {
    display: table-cell;
}

.dl_group {
    padding: 5px;
}

.dl_orig {
    padding: 2px;
    margin-bottom: 2px;
}

.dl_files {
    line-height: 2em;
}

.dl_file {
    padding: 2px 5px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.ia_original {
    border: 1px solid #000;
}

.dl_file:hover {
    background-color: #ccc;
}

.dl_file a:link {
    text-decoration: none;
    color: #000;
}

.dl_file a:visited {
    text-decoration: none;
    color: #333;
}

#ia_book {
    text-align: center;
}

#ia_screenshot {
    text-align: center;
}

#ia_screenshot img {
    margin-bottom: 5px;
}

.ia_software_link:link, .ia_software_link:visited {
    text-decoration: none;
    color: #000;
    padding: 2px 5px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #000;
    white-space: nowrap;
}

.ia_software_link:hover {
    background-color: #ccc;
}

.ia_reddit_link {
    margin: 5px;
    border: 1px solid black;
    float: left;
    padding: 5px 5px 5px 25px;
    background-repeat: no-repeat;
    background-image: url('http://www.redditstatic.com/spreddit5.gif');
    background-position: left center;
    text-align: center;
    font-size: 0.8em;
}

.ia_reddit_link a:link {
    text-decoration: none;
    color: #000;
}

.ia_reddit_link a:visited {
    text-decoration: none;
    color: #000;
}
