#ia_enhancer {
    display:      table;
    width:        100%;
    font-family:  'Helvetica Neue';
    font-size:    1.1em;
    border:     1px solid black;
}

#ia_nav_div {
    color: #fff;
    background-color: #000;
    padding-bottom: 2px;
}

#ia_nav_div a {
    color: #fff;
    text-decoration: none;
}

#ia_nav_div a:hover {
    text-decoration: underline;
}

.ia_logo {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

#ia_title_div {
    color: #fff;
    background-color: #000;
    font-size: 1.5em;
    padding: 2px;
    margin-bottom: 15px;
}

#ia_player_div {
    display: table;
}

.ia_description {
    font-size: 1.2em;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: top;
    padding: 0px 20px 20px 20px;
}

#avplaycontainer {
    display:    table-cell;
/*
    width:      auto;
    text-align: center;
    float:      left;
    padding:    10px;
    display:    table-cell;
    max-width:  640px;
*/
    /*border:           1px solid green;*/
}

#avplaydiv {
    width: 400px;
}

#avplaydiv.ia_audio {
    width: 350px;
}

#ia_meta_div {
    /*float:      left;*/
    width:      500px;
    padding:    10px;
    display:    table-cell;
    border-right: 1px solid black;
}



.ia_meta_row {
    padding: 4px;
    font-size: 1.1em;
}

.ia_meta_row:nth-child(even) {
    background: #EEE;
}

.ia_meta_key {
    width: 100px;
    margin-right: 5px;
    float: left;
    color: #999;
    overflow: scroll;
    white-space: nowrap;
}

.ia_meta_val {
    display: inline-block;
    width: calc(100% - 105px); /* key width=100px, key padding = 5px */
    overflow: scroll;
}


#ia_files_div {
    display: table-cell;
}

.dl_group {
    padding: 10px;
}

.dl_group:nth-child(even) {
    background: #EEE;
}

.dl_orig {
    padding: 2px;
}

.dl_file {
    padding: 2px 5px;
    margin: 5px;
    background-color: #666;
    border: 2px solid #666;
    white-space: nowrap;
}

.ia_original {
    border: 2px solid #000;
}

.dl_file:hover {
    background-color: #888;
}

.dl_file a:link {
    text-decoration: none;
    color: #fff;
}

.dl_file a:visited {
    text-decoration: none;
    color: #eee;
}